global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: googleslides
        params:
            local_file: {{local_file}}
            slide_count: {{slide_count}}
            local_image: {{local_image}}
            dumpsys_enabled: {{dumpsys_enabled}}
